html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #282c34 !important; /* Consistent dark background across the app */
  color: #fff; /* Ensures text color is white for better readability */
}

/* This will center content in the App component and handle full height */
.App {
    padding-top: 5rem; /* Adjust this value as necessary */
    display: flex;
    justify-content: center;
    height: 100vh;
    font-size: 24px;
    color: #fff;
    background-color: #282c34 !important;
}

/* Adjustments for smaller displays and mobile optimization */
@media (max-width: 768px) {
  .App {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
}

/* Styles for the header that ensure centering and adjust font size dynamically */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* Logo animations and adjustments for reduced motion preferences */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Transition effects for elements appearing */
.sentence, .fade-in-button {
  opacity: 0;
  transition: opacity 2s;
  animation: fadeIn 2s forwards;
}

.sentence.visible, .sentence.fade-in, .fade-in-button {
  opacity: 1;
}

.sentence.fade-out {
  opacity: 0;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Styling for buttons with focus on hover and focus states */
div.container.mt-5 .btn-outline-primary,
div.container.mt-5 button.btn-primary {
  color: #6f42c1;
  border-color: #6f42c1;
  background-color: transparent;
}

div.container.mt-5 .btn-outline-primary:hover,
div.container.mt-5 button.btn-primary:hover,
div.container.mt-5 .btn-outline-primary:focus,
div.container.mt-5 button.btn-primary:focus {
  color: #fff;
  background-color: #5a34a3;
  border-color: #5a34a3;
}

div.container.mt-5 .btn-check:checked + .btn-outline-primary,
div.container.mt-5 .btn-check:active + .btn-outline-primary,
div.container.mt-5 button.btn-primary {
  background-color: #6f42c1;
  border-color: #6f42c1;
  color: #fff;
}

/* Focus state for enhanced accessibility */
div.container.mt-5 .btn-outline-primary:focus,
div.container.mt-5 button.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.5);
}

/* Style adjustments for slider thumb in WebKit browsers */
div.container.mt-5 .form-range::-webkit-slider-thumb {
  background-color: #6f42c1 !important;
}
